<div class="pmcc-r-12 create-role-root">
    <top-navigation class="top-nav"></top-navigation>
    <div class="create-role">
		<div class="pmcc-r-12 middle-content">
			<div class="pmcc-c-1 pmcc-short-column">
				<span>&nbsp;</span>
			</div>
			<div class="pmcc-c-5 pmcc-short-column">
				<div class="row">
					<span class="heading">Add a New Role</span>
					<span>
			    		<img src="assets/images/ico-help.png">
					</span>
				</div>
				<div class="row">
					<hr> </hr>
				</div>
				<div class="row">
					<span class="title">Role Name</span>
					<span>
			    		<img src="assets/images/ico-help.png">
					</span>
					<span class="ng-scope input-role-name">
            			<span class="pmcc-input ng-scope">
            				<input type="text" class="inputField" ng-model="createRole.role.name">
            			</span>
            		</span>											
				</div>
				<div class="row">
					<span class="title">Description</span>
					<span>
			    		<img src="assets/images/ico-help.png">
					</span>
					<span class="ng-scope input-description">
            			<span class="pmcc-input ng-scope">
            				<textarea class="inputField" ng-model="createRole.role.description"></textarea>
            			</span>
            		</span>											
				</div>
				<div class="row rule">
					<hr></hr>
				</div>
				<div class="buttons row">
					<span>
						<button class="pmcc-btn-lg pmcc-btn-secondary cancel-button" ng-click="createRole.cancelClick()">Cancel</button>
					</span>
					<span>
						<button class="pmcc-btn-lg pmcc-btn-primary save-button" ng-click="createRole.saveClick()">Add Role</button>
					</span>
				</div>
			</div>
			<div class="pmcc-c-6 pmcc-short-column">
				<span>&nbsp;</span>
			</div>
		</div>
	</div>
</div>